/*colors: #208022 && #bFA979*/

body {
  margin: 0;
  padding: 0;
  background-color: #eeee;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

*{
   box-sizing:border-box; 
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #208022;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  cursor: pointer;
}

.pages {
  /* position:absolute; */
  margin-right: 30px;
  display: flex;
  gap: 28px;
  align-items: center;
}

.pages a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 5px;
}

.pages a:hover {
  background-color: #fff;
  color: #208022;
}

.container-nav {
  background-image: url(../images/bg-00.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width:100%;
  margin-top: -100px; 
}

.home-text {
  align-items: center;
  text-align: center;
  color: #eeee;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom:100px;
}
.home-text h1 {
  font-size: 100px;
  margin-bottom: -10px;
}

.home-text h2 {
  font-size: 28px;
}

.home-text p {
  font-size: 24px;
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 14px 18px;
  background-color: #208022;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #208022;
  text-decoration: none;
  color: #eeee;
}

.button:hover {
  background-color: #fff;
  color: #208022;
  /* transform: scale(-0.5); */
}

.button-2 {
  color: #fff;
  padding: 14px 18px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #208022;
  text-decoration: none;
}

/* -- Sightseeing Places */
#Sightseeing-Places {
  margin: auto 64px;
  margin-top: 6rem;
}

.title-sightseeing-p {
  margin-bottom: 4rem;
  text-align: center;
  color: #208022;
  cursor: pointer;
  font-size: 36px;
}

.img-sightseeing-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bamyn-img {
  margin-left: 20px;
}

.flex-img-sightseeing-p {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sightseeing-text {
  position: absolute;
  background-color: #bfa979;
  width: 55%;
  height: 50%;
  bottom: 6%;
  padding: 20px;
  border-radius: 5px;
  text-align: start;
  left: 18%;
  z-index: 1;
}

.sightseeing-text h1 {
  color: #208022;
  margin-bottom: 1.5rem;
}

.sightseeing-text p {
  color: #eeee;
  font-size: 18px;
}

.img-sightseeing-p-2 {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:4rem;
  text-align: center;
  justify-content: center;
}

.Kabul-img p {
  color: gray;
}

.Kabul-img p {
  width: 45%;
  margin: auto;
  padding: 2rem;
}

.bamyn-img {
  position: relative;
}

.bamyn-img h1 {
  display: none;
  position: absolute;
  bottom: 40%;
  left: 30%;
  color: #208022;
  font-size: 50px;
}

.bamyn-img:hover img {
  opacity: 0.5;
}

.bamyn-img:hover h1 {
  display: block;
}

.noristan-hover {
  position: relative;
}

.noristan-hover h1 {
  display: none;
  position: absolute;
  left: 25%;
  bottom: 34%;
  color: #208022;
  font-size: 40px;
}

.noristan-hover:hover img {
  opacity: 0.5;
}

.noristan-hover:hover h1 {
  display: block;
}

.img-hover {
  position: relative;
}

.img-hover img:hover {
  opacity: 0.5;
}

.img-hover h1 {
  position: absolute;
  display: none;
  top: 60px;
  left: 44%;
  color: #11460c;
}

.img-hover:hover h1 {
  display: block;
}

.herat-img {
  text-align: center;
  margin-right: 2.5rem;
}

.herat-img h1 {
  font-size: 30px;
  margin-top: -10px;
  color: #208022;
}

.herat-hover {
  position: relative;
}

.herat-hover:hover img {
  opacity: 0.5;
}

.herat-hover h1 {
  position: absolute;
  display: none;
  left: 39%;
  bottom: 39%;
  color: #208022;
  font-size: 40px;
}

.herat-hover:hover h1 {
  display: block;
}

.icons {
  border-top: 3px solid #bfa979;
  border-bottom: 3px solid #bfa979;
  padding: 1rem 12px;
  margin: auto 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.img-icon {
  color: #000;
}

/* foods */
#foods {
  margin: auto;
  margin-top: 6rem;
  background-color: #bfa979;
  padding: 4rem 64px;
}

#foods h1 {
  color: #208022;
}

#foods img {
  border: 1px solid #208022;
}

.title-foods {
  margin-bottom: 5rem;
  text-align: center;
  color: #208022;
  cursor: pointer;
  font-size: 40px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 5rem;
}

.box {
  box-shadow: 1px 1px 5px 0px gray;
  background-color: #eee;
  padding: 3rem 2.5rem;
  border-radius: 5px;
  border: 2px solid #208022;
  sition: transform 2s linear;
}

.box:hover {
  transform: scale(1.1);
}

.box p {
  color: gray;
}

/*  Clothes */
#Clothes {
  margin: auto 72px;
  margin-top: 6rem;
  position: relative;
}

.title-Clothes {
  color: #208022;
  cursor: pointer;
  font-size: 30px;
}

.flex-img p {
  color: gray;
  font-size: 20px;
}

.imges-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: auto 6.5rem;
}

.images-2 {
  display: flex;
  gap: 10.5rem;
  margin-top: 6rem;
}

.flex-img {
  display: flex;
  flex-direction: column;
}

.shall-hover {
  position: absolute;
  right: 8%;
  bottom: 30%;
}

.shall-hover img {
  position: relative;
}

.shall-hover h1 {
  display: none;
}

.shall-hover h1 {
  display: none;
  position: absolute;
  left: 35%;
  bottom: 38%;
  color: #208022;
  font-size: 40px;
}

.shall-hover:hover img {
  opacity: 0.5;
}

.shall-hover:hover h1 {
  display: block;
}

.gnad-hover {
  position: relative;
  margin-left: 3.5rem;
}

.gnad-hover h1 {
  display: none;
  position: absolute;
  left: 35%;
  bottom: 38%;
  color: #208022;
  font-size: 40px;
}

.gnad-hover:hover img {
  opacity: 0.5;
}

.gnad-hover:hover h1 {
  display: block;
}

.dowdamona-hover {
  position: relative;
}

.dowdamona-hover h1 {
  display: none;
  position: absolute;
  left: 20%;
  bottom: 52%;
  color: #208022;
  font-size: 30px;
}

.dowdamona-hover:hover img {
  opacity: 0.5;
}

.dowdamona-hover:hover h1 {
  display: block;
}

.golnigar-hover {
  position: relative;
}

.golnigar-hover h1 {
  display: none;
  position: absolute;
  left: 20%;
  bottom: 35%;
  color: #208022;
  font-size: 24px;
}

.golnigar-hover:hover img {
  opacity: 0.5;
}

.golnigar-hover:hover h1 {
  display: block;
}

.golnigar-img {
  display: flex;
  margin-top: 15rem;
  gap: 5rem;
}

.info-clothes {
  text-align: center;
  margin-right: 6rem;
}

.info-clothes ion-icon{
  background-color:#eeee;
  border-top: 3px solid #bfa979;
  border-bottom: 3px solid #bfa979;
  padding:8px 50px;
  margin-top:24px;
}

.info-clothes p {
  color: gray;
}

.info-clothes img {
  margin-top: 1rem;
  border-top: 3px solid #bfa979;
  border-bottom: 3px solid #bfa979;
  padding: 1rem 4rem;
}

/* footer */
.footer {
  margin-top: 6rem;
  padding: 0.5rem;
  background-color: #208022;
  width: 100%;
}

.pages-footer {
  display: flex;
  justify-content: space-around;
}

.pages-footer a {
  text-decoration: none;
  color: #eee;
  margin-top: 1.5rem;
  font-size: 18px;
}

.pages-footer a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

ion-icon {
  width: 28px;
  height: 28px;
  color: #bfa979;
}

.footer .h4 {
  margin-top: 3rem;
  text-align: center;
  color: #eeee;
}
hr {
  margin: auto 28rem;
  color: #bfa979;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
