/*colors: #208022 && #bFA979*/

body {
  margin: 0;
  padding: 0;
  background-color: #eeee;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

*{
   box-sizing:border-box; 
}

nav {
  height: 80px;
  margin: auto;
  background-color: #208022;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

nav ul{
  float: right;
  margin-right: 20px;
  /* padding-bottom: 30px; */
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;
  margin-top: -16px;
}

nav ul li a{
  color: #ffff;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
}

nav ul li a:active,
a:hover {
  background-color: #fff;
  color: #208022;
  transition: .5s;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  cursor: pointer;
  line-height: 80px;
margin-top: 8px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right:40px ;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.container-nav {
  background-image: url(../images/bamyn-fit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width:100%;
  margin-top: -100px; 
}

.home-text {
  align-items: center;
  text-align: center;
  color: #ffff;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom:100px;
}
.home-text h1 {
  font-size: 100px;
  margin-bottom: -10px;
}

.home-text h2 {
  font-size: 28px;
}

.home-text p {
  font-size: 24px;
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 14px 18px;
  background-color: #208022;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #208022;
  text-decoration: none;
  color: #ffff;
}

.button:hover {
  background-color: #fff;
  color: #208022;
  transition: .5s;
}

.button-2 {
  color: #fff;
  padding: 14px 18px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #208022;
  text-decoration: none;
}

/* -- Sightseeing Places */
#Sightseeing-Places {
  margin: auto 64px;
  margin-top: 6rem;
}

.title-sightseeing-p {
  margin-bottom: 4rem;
  text-align: center;
  color: #208022;
  cursor: pointer;
  font-size: 36px;
}

.img-sightseeing-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bamyn-img {
  margin-left: 20px;
}

.flex-img-sightseeing-p {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sightseeing-text {
  position: absolute;
  background-color: #bfa979;
  width: 55%;
  height: 50%;
  bottom: 6%;
  padding: 20px;
  border-radius: 5px;
  text-align: start;
  left: 18%;
  z-index: 1;
}

.sightseeing-text h1 {
  color: #208022;
  margin-bottom: 1.5rem;
}

.sightseeing-text p {
  color: #ffff;
  font-size: 18px;
}

.img-sightseeing-p-2 {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:4rem;
  text-align: center;
  justify-content: center;
}

.Kabul-img p {
  color: gray;
}

.Kabul-img p {
  width: 45%;
  margin: auto;
  padding: 2rem;
}

.bamyn-img {
  position: relative;
}

.bamyn-img h1 {
  display: none;
  position: absolute;
  bottom: 40%;
  left: 30%;
  color: #208022;
  font-size: 50px;
}

.bamyn-img:hover img {
  opacity: 0.5;
    transition: .5s;
}

.bamyn-img:hover h1 {
  display: block;
    transition: .5s;
}

.noristan-hover {
  position: relative;
}

.noristan-hover h1 {
  display: none;
  position: absolute;
  left: 25%;
  bottom: 34%;
  color: #208022;
  font-size: 40px;
}

.noristan-hover:hover img {
  opacity: 0.5;
    transition: .5s;
}

.noristan-hover:hover h1 {
  display: block;
}

.img-hover {
  position: relative;
}

.img-hover img:hover {
  opacity: 0.5;
    transition: .5s;
}

.img-hover h1 {
  position: absolute;
  display: none;
  top: 60px;
  left: 44%;
  color: #11460c;
}

.img-hover:hover h1 {
  display: block;
}

.herat-img {
  text-align: center;
  margin-right: 2.5rem;
}

.herat-img h1 {
  font-size: 30px;
  margin-top: -10px;
  color: #208022;
}

.herat-hover {
  position: relative;
}

.herat-hover:hover img {
  opacity: 0.5;
  transition: .5s;
}

.herat-hover h1 {
  position: absolute;
  display: none;
  left: 39%;
  bottom: 39%;
  color: #208022;
  font-size: 40px;
}

.herat-hover:hover h1 {
  display: block;
}

.icons {
  border-top: 3px solid #bfa979;
  border-bottom: 3px solid #bfa979;
  padding: 1rem 12px;
  margin: auto 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.img-icon {
  color: #000;
}

/* foods */
#foods {
  margin: auto;
  margin-top: 6rem;
  background-color: #bfa979;
  padding: 4rem 64px;
}

#foods h1 {
  color: #208022;
  /* border-bottom: 1px solid #208022;
  padding: 10 100px; */
}

#foods img {
  border: 1px solid #208022;
  width:90% ;
  height: 50%;
}

.title-foods {
  margin-bottom: 5rem;
  text-align: center;
  color: #208022;
  cursor: pointer;
  font-size: 40px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 5rem;
}

.box {
  box-shadow: 1px 1px 5px 0px gray;
  background-color: #eee;
  padding: 2.5rem 2rem;
  border-radius: 5px;
  border: 2px solid #208022;
  sition: transform 2s linear;
}

.box:hover {
  transform: scale(1.1);
  transition: .5s;
}

.box p {
  color: gray;
}

/*  Clothes */
#Clothes {
  margin: auto 72px;
  margin-top: 6rem;
  position: relative;
}

.title-Clothes {
  color: #208022;
  cursor: pointer;
  font-size: 30px;
}

.flex-img p {
  color: gray;
  font-size: 20px;
}

.imges-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: auto 6.5rem;
}

.images-2 {
  display: flex;
  gap: 10.5rem;
  margin-top: 6rem;
}

.flex-img {
  display: flex;
  flex-direction: column;
}

.shall-hover {
  position: absolute;
  right: 8%;
  bottom: 30%;
}

.shall-hover img {
  position: relative;
}

.shall-hover h1 {
  display: none;
}

.shall-hover h1 {
  display: none;
  position: absolute;
  left: 35%;
  bottom: 38%;
  color: #208022;
  font-size: 40px;
}

.shall-hover:hover img {
  opacity: 0.5;
  transition: .5s;
}

.shall-hover:hover h1 {
  display: block;
}

.gnad-hover {
  position: relative;
  margin-left: 3.5rem;
}

.gnad-hover h1 {
  display: none;
  position: absolute;
  left: 35%;
  bottom: 38%;
  color: #208022;
  font-size: 40px;
}

.gnad-hover:hover img {
  opacity: 0.5;
  transition: .5s;
}

.gnad-hover:hover h1 {
  display: block;
}

.dowdamona-hover {
  position: relative;
}

.dowdamona-hover h1 {
  display: none;
  position: absolute;
  left: 20%;
  bottom: 52%;
  color: #208022;
  font-size: 30px;
}

.dowdamona-hover:hover img {
  opacity: 0.5;
  transition: .5s;
}

.dowdamona-hover:hover h1 {
  display: block;
}

.golnigar-hover {
  position: relative;
}

.golnigar-hover h1 {
  display: none;
  position: absolute;
  left: 20%;
  bottom: 35%;
  color: #208022;
  font-size: 24px;
}

.golnigar-hover:hover img {
  opacity: 0.5;
  transition: .5s;
}

.golnigar-hover:hover h1 {
  display: block;
}

.golnigar-img {
  display: flex;
  margin-top: 15rem;
  gap: 5rem;
}

.info-clothes {
  text-align: center;
  margin-right: 6rem;
}

.info-clothes ion-icon{
  background-color:#eeee;
  border-top: 3px solid #bfa979;
  border-bottom: 3px solid #bfa979;
  padding:8px 50px;
  margin-top:24px;
}

.info-clothes p {
  color: gray;
}

.info-clothes img {
  margin-top: 1rem;
  border-top: 3px solid #bfa979;
  border-bottom: 3px solid #bfa979;
  padding: 1rem 4rem;
}

/* footer */
.footer {
  margin-top: 6rem;
  padding: 0.5rem;
  background-color: #208022;
  width: 100%;
  background-size:100% 100%;
}

.pages-footer {
  display: flex;
  justify-content: space-around;
}

.pages-footer a {
  color: #ffff;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
  margin-top: 1.5rem;
}

.pages-footer a:active,
a:hover {
  background-color: #fff;
  color: #208022;
  transition: .5s;
}

ion-icon {
  width: 28px;
  height: 28px;
  color: #bfa979;
}

.footer .h4 {
  margin-top: 3rem;
  text-align: center;
  color: #fff;
}
hr {
  margin: auto 28rem;
  color: #bfa979;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* responsive */
@media (max-width: 1024px){

  .container-nav {
  background-image: url(../images/bamyn-fit.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width:100%;
  /* margin-top: -100px;  */
}

/* 
  .home-text h1 {
  font-size: 150px;
  margin-bottom: -10px;
}

.home-text h2 {
  font-size: 28px;
}

.home-text p {
  font-size: 20px;
} */

}

@media (max-width: 952px){
  .logo{
    margin-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }

  
}

@media (max-width: 858px) {
.checkbtn{
  display: block;
}
ul{
  position: fixed;
  height: 100vh;
  top: 64px;
  left: -100%;
  transition: all .5s;
  background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(219, 12, 12, 0.9472163865546218) 35%, rgba(22, 136, 20, 1) 100%);
    opacity: 80%;
    text-align: center;
    
}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
a:hover, a:active{
  background: none;
  color: #208022;
}
#check:checked ~ ul{
  left: 0;
  right: -20px;
}
}